In [1]:
import os
os.chdir(r'C:\Users\Navid\Documents\ds_salary_proj')

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('df_data_scientist1.txt')
df2 = pd.read_csv('df_data_analyst1.txt')
df3 = pd.read_csv('df_data_scientist2.txt')
df4 = pd.read_csv('df_data_analyst2.txt')
df5 = pd.read_csv('df_data_engineer.txt')
df6 = pd.read_csv('df_machine_learning.txt')
df7 = pd.read_csv('df_data_scientist3.txt')
df8 = pd.read_csv('df_data_scientist4.txt')
df9 = pd.read_csv('df_data_analyst3.txt')
df10 = pd.read_csv('df_data_scientist5.txt')
df11 = pd.read_csv('df_data_architect.txt')
df12 = pd.read_csv('df_data_scientist6.txt')
df13 = pd.read_csv('df_data_scientist7')

In [4]:
df = df1.append(df2).append(df3).append(df4).append(df5).append(df6).append(df7).append(df8).append(df9).append(df10).append(df11).append(df12).append(df13)

In [5]:
df = df.drop('Unnamed: 0',axis=1)

In [6]:
df = df[df.duplicated().values != True]

In [7]:
df = df[df['Salary Range'] != '-1']

In [8]:
df.to_csv('df_salary')

In [9]:
df.shape

(1266, 14)

In [17]:
df13.shape

(400, 15)

In [20]:
df13[df13['Salary Range'] != '-1']

,Unnamed: 0,Job Title,Salary Range,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$98k-$154k\n(Glassdoor Est.),Applies developed subject matter knowledge to ...,4.1,HP\n4.1,"San Diego, CA",-1,10000+ Employees,1939,Company - Public,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
2,2,Aviation Data Scientist and Machine Learning E...,$106k-$182k\n(Glassdoor Est.),Why choose between doing meaningful work and h...,3.3,MITRE\n3.3,"McLean, VA",-1,5001 to 10000 Employees,1958,Nonprofit Organization,Federal Agencies,Government,$1 to $2 billion (USD),-1
6,6,Nurse Scientist,$20-$32 Per Hour\n(Glassdoor Est.),Baptist Health South Florida is once again one...,3.9,Baptist Health South Florida\n3.9,"Miami, FL",-1,5001 to 10000 Employees,1960,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1
8,8,Data Analyst,$47k-$80k\n(Glassdoor Est.),"This position is responsible for analyzing, re...",2.9,Independent Care Health Plan\n2.9,"Milwaukee, WI",-1,201 to 500 Employees,1994,Company - Private,Insurance Carriers,Insurance,$10 to $25 million (USD),-1
9,9,Business Systems Analyst (Data Analyst),$50k-$93k\n(Glassdoor Est.),The Business Systems Analyst (BSA) is an indiv...,2.8,"Cotiviti, Inc.\n2.8","Richmond, VA",-1,1001 to 5000 Employees,1979,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,392,Product and Data Analyst,$46k-$82k\n(Glassdoor Est.),About Canal Insurance\n\nCanal Insurance Compa...,3.8,Canal Insurance\n3.8,"Greenville, SC",-1,201 to 500 Employees,1939,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),-1
393,393,Data Scientist,$90k-$146k\n(Glassdoor Est.),Engineering at Postmates\n\nWe're building gro...,3.4,Postmates\n3.4,"San Francisco, CA",-1,1001 to 5000 Employees,2011,Company - Private,Express Delivery Services,Transportation & Logistics,Unknown / Non-Applicable,-1
394,394,Machine Learning Research Scientist,$113k-$210k\n(Glassdoor Est.),Baidu Silicon Valley AI Lab (SVAIL) is advanci...,4.1,Baidu USA\n4.1,"Sunnyvale, CA",-1,51 to 200 Employees,2000,Company - Public,Internet,Information Technology,$50 to $100 million (USD),-1
398,398,Senior Data Scientist,$76k-$125k\n(Glassdoor Est.),The Mars Agency is a global marketing practice...,3.3,The Mars Agency\n3.3,"Rogers, AR",-1,201 to 500 Employees,1972,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
399,399,"Data Scientist, Sr.",$108k-$174k\n(Glassdoor Est.),Data Scientists are revolutionizing the intell...,3.7,Sierra Nevada Corporation\n3.7,"Herndon, VA",-1,1001 to 5000 Employees,1963,Company - Private,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,-1