In [9]:
import pandas as pd
import os
os.chdir('E:\jupyter')

In [11]:
df = pd.read_csv('data_frame2.txt')

In [12]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$57k-$102k (Glassdoor Est.),A trusted partner at nearly three million comm...,3.6,Ecolab\n3.6,"Saint Paul, MN",-1,10000+ Employees,1923,Company - Public,Chemical Manufacturing,Manufacturing,$10+ billion (USD),-1
1,1,Data Scientist,$57k-$102k (Glassdoor Est.),As Data Scientist in the Pricing Analytics tea...,4.1,HP Inc.\n4.1,"San Diego, CA",-1,10000+ Employees,1939,Company - Public,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
2,2,Data Scientist,$57k-$102k (Glassdoor Est.),Job Brief\n\nThe ideal candidate will have pre...,2.9,IFG Companies\n2.9,"Atlanta, GA",-1,201 to 500 Employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,-1
3,3,Data Scientist,$57k-$102k (Glassdoor Est.),Every Analyst a Scientist - One of our primary...,4.5,Systems & Technology Research\n4.5,"Woburn, MA",-1,201 to 500 Employees,2010,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),-1
4,4,Senior Data Scientist,$57k-$102k (Glassdoor Est.),"About Us\n\nAt GutCheck, we pioneered agile ma...",3.9,GutCheck\n3.9,"Denver, CO",-1,51 to 200 Employees,2009,Company - Private,Research & Development,Business Services,$10 to $25 million (USD),-1