In [1]:
import os
os.chdir(r'C:\Users\Navid\Documents\ds_salary_proj')

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [42]:
df = pd.read_csv('eda_data_modified')

In [43]:
df['seniority'].value_counts()

0    1108
1     303
Name: seniority, dtype: int64

In [44]:
# df = df.loc[df.Industry != '-1']
df = df.loc[df['Type of ownership'] != 'Unknown']

In [45]:
df = df.loc[(df.Size != '-1') & (df.Size != 'Unknown')]

In [46]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Job Description', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'per_hour',
       'avg_salary', 'FAANG', 'state', 'desc_length', 'seniority', 'title',
       'python', 'r studio', 'ML', 'spark', 'deep_learning', 'aws', 'graduate',
       'undergrad', 'exp_year'],
      dtype='object')

In [47]:
df_final = df[['avg_salary' ,'Size','Type of ownership', 'Rating', 'Industry',
               'Sector', 'Revenue','per_hour', 'seniority', 
               'state', 'aws', 'title', 'spark', 'FAANG',
       'deep_learning', 'graduate', 'undergrad','exp_year']]

In [48]:
df = df[df.Rating != -1]

In [49]:
#removing skewness
# from scipy import stats
# df['avg_salary'] ,fitted_lambda1 = stats.boxcox(df['avg_salary'])

In [50]:
df_dummy = pd.get_dummies(df_final)

In [51]:
# df_dummy.drop('Industry_other_industries',axis=1,inplace=True)

In [52]:
# train test split
from sklearn.model_selection import train_test_split
x = df_dummy.drop('avg_salary' , axis = 1)
y = df_dummy['avg_salary'].values
X_train , X_test , y_train , y_test = train_test_split(x , y , test_size = 0.2 , random_state = 1)

In [54]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
lr = SVR(C=10).fit(X_train,y_train)
cross_val_score(lr,X_train,y_train,scoring='neg_mean_absolute_error',cv=5).mean()

-14.954116466524573

In [55]:
import statsmodels.api as sm
X_sm = sm.add_constant(x)
model = sm.OLS(y,X_sm)
model.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.672
Model:                            OLS   Adj. R-squared:                  0.638
Method:                 Least Squares   F-statistic:                     19.76
Date:                Sat, 31 Oct 2020   Prob (F-statistic):          3.22e-227
Time:                        18:40:48   Log-Likelihood:                -6141.4
No. Observations:                1404   AIC:                         1.255e+04
Df Residuals:                    1271   BIC:                         1.325e+04
Df Model:                         132
Covariance Type:            nonrobust
====================================================================================================================
                                                       coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------
const                                               41.0079      3.726     11.006      0.000      33.698      48.318
Rating                                               3.6768      1.115      3.296      0.001       1.489       5.865
per_hour                                           -14.5339     10.589     -1.373      0.170     -35.308       6.240
seniority                                           23.2481      1.474     15.777      0.000      20.357      26.139
aws                                                  1.8748      1.368      1.370      0.171      -0.810       4.559
spark                                                0.0966      1.935      0.050      0.960      -3.700       3.893
FAANG                                               12.0738      7.614      1.586      0.113      -2.864      27.012
deep_learning                                        1.1018      2.634      0.418      0.676      -4.065       6.269
graduate                                             2.2704      1.293      1.757      0.079      -0.265       4.806
undergrad                                           -4.3159      1.256     -3.437      0.001      -6.779      -1.853
exp_year                                             0.8725      0.250      3.489      0.001       0.382       1.363
Size_1 to 50 Employees                               2.9547      3.413      0.866      0.387      -3.741       9.650
Size_10000+ Employees                                6.9689      2.126      3.277      0.001       2.797      11.140
Size_1001 to 5000 Employees                          6.6475      1.468      4.528      0.000       3.767       9.528
Size_201 to 500 Employees                            5.1574      1.728      2.984      0.003       1.766       8.548
Size_5001 to 10000 Employees                         7.8115      2.284      3.420      0.001       3.330      12.293
Size_501 to 1000 Employees                           6.8987      1.732      3.983      0.000       3.501      10.297
Size_51 to 200 Employees                             4.5693      1.916      2.385      0.017       0.811       8.327
Type of ownership_College / University              -0.5487      9.130     -0.060      0.952     -18.460      17.363
Type of ownership_Company - Private                  6.9963      3.055      2.290      0.022       1.003      12.989
Type of ownership_Company - Public                   7.0313      3.198      2.199      0.028       0.758      13.304
Type of ownership_Contract                           1.6323     11.655      0.140      0.889     -21.233      24.498
Type of ownership_Government                         2.5409      5.663      0.449      0.654      -8.568      13.650
Type of ownership_Hospital                           1.0901      6.385      0.171      0.864     -11.436      13.616
Type of ownership_Nonprofit Organization             8.3284      3.523      2.364      0.018       1.417      15.240
Type of ownership_Other Organization                -4.1895     13.931     -0.301      0.764     -31.519      23.140
Type of ownership_Private Practice / Firm           13.8321      8.443      1.638      0.102      -2.732      30.396
Type of ownership_School / School District           1.0131     20.430      0.050      0.960     -39.067      41.093
Type of ownership_Subsidiary or Business Segment     3.2818      3.778      0.869      0.385      -4.130      10.694
Industry_-1                                          3.9881      2.642      1.509      0.131      -1.195       9.171
Industry_Advertising & Marketing                     1.3741      6.359      0.216      0.829     -11.102      13.850
Industry_Aerospace & Defense                         1.3601      1.806      0.753      0.451      -2.182       4.903
Industry_Architectural & Engineering Services        2.7563      8.044      0.343      0.732     -13.025      18.538
Industry_Biotech & Pharmaceuticals                  11.0563      1.899      5.821      0.000       7.330      14.783
Industry_Colleges & Universities                     4.3499     12.022      0.362      0.718     -19.235      27.935
Industry_Computer Hardware & Software                1.1943      2.018      0.592      0.554      -2.764       5.153
Industry_Consulting                                  2.1970      5.991      0.367      0.714      -9.556      13.950
Industry_Energy                                    -11.0818      9.867     -1.123      0.262     -30.439       8.276
Industry_Enterprise Software & Network Solutions     2.7240      2.143      1.271      0.204      -1.481       6.929
Industry_Federal Agencies                            3.5279     10.290      0.343      0.732     -16.660      23.716
Industry_Health Care Services & Hospitals            3.1889      1.631      1.955      0.051      -0.011       6.389
Industry_IT Services                                 1.3628      1.906      0.715      0.475      -2.377       5.103
Industry_Insurance Carriers                          4.9231     20.111      0.245      0.807     -34.531      44.377
Industry_Internet                                    4.7739      2.451      1.948      0.052      -0.034       9.582
Industry_Publishing                                  4.2481      9.145      0.465      0.642     -13.692      22.189
Industry_Research & Development                      4.9921      7.619      0.655      0.512      -9.955      19.939
Industry_Social Assistance                          -3.3652     10.345     -0.325      0.745     -23.661      16.930
Industry_Staffing & Outsourcing                     -2.6399      6.493     -0.407      0.684     -15.378      10.098
Industry_Wholesale                                  10.3659      7.272      1.426      0.154      -3.900      24.631
Industry_financial_related                          -4.2977     18.533     -0.232      0.817     -40.656      32.061
Industry_manufacturing                             -14.6439     20.712     -0.707      0.480     -55.278      25.990
Industry_other_industries                            8.6538      4.110      2.105      0.035       0.590      16.718
Sector_-1                                            3.9881      2.642      1.509      0.131      -1.195       9.171
Sector_Accounting & Legal                           -3.0421      6.910     -0.440      0.660     -16.598      10.514
Sector_Aerospace & Defense                           1.3601      1.806      0.753      0.451      -2.182       4.903
Sector_Agriculture & Forestry                      -23.1032     19.888     -1.162      0.246     -62.121      15.914
Sector_Arts, Entertainment & Recreation            -11.0753      8.725     -1.269      0.205     -28.192       6.041
Sector_Biotech & Pharmaceuticals                    11.0563      1.899      5.821      0.000       7.330      14.783
Sector_Business Services                             5.0388      6.775      0.744      0.457      -8.252      18.329
Sector_Construction, Repair & Maintenance            5.8943      7.718      0.764      0.445      -9.247      21.036
Sector_Consumer Services                           -15.7669      8.831     -1.785      0.074     -33.092       1.558
Sector_Education                                     3.3433      8.521      0.392      0.695     -13.374      20.060
Sector_Finance                                      15.2349     18.880      0.807      0.420     -21.805      52.275
Sector_Government                                    6.7462      9.401      0.718      0.473     -11.698      25.190
Sector_Health Care                                   3.1889      1.631      1.955      0.051      -0.011       6.389
Sector_Information Technology                       10.0550      2.180      4.611      0.000       5.777      14.333
Sector_Insurance                                     3.6726     20.375      0.180      0.857     -36.300      43.645
Sector_Manufacturing                                20.8226     20.935      0.995      0.320     -20.247      61.893
Sector_Media                                         0.4084      6.513      0.063      0.950     -12.370      13.186
Sector_Mining & Metals                               7.6169     14.326      0.532      0.595     -20.488      35.722
Sector_Non-Profit                                   -6.4477      8.571     -0.752      0.452     -23.262      10.367
Sector_Oil, Gas, Energy & Utilities                  5.3107      7.742      0.686      0.493      -9.878      20.500
Sector_Real Estate                                 -15.8881      9.317     -1.705      0.088     -34.167       2.391
Sector_Restaurants, Bars & Food Services            -6.2360     14.230     -0.438      0.661     -34.153      21.681
Sector_Retail                                        1.1265      5.072      0.222      0.824      -8.824      11.076
Sector_Telecommunications                            8.9173      6.654      1.340      0.180      -4.136      21.970
Sector_Transportation & Logistics                   -2.5635      7.615     -0.337      0.736     -17.503      12.376
Sector_Travel & Tourism                             11.3500      8.779      1.293      0.196      -5.872      28.572
Revenue_$1 to $2 billion (USD)                       6.4139      2.531      2.534      0.011       1.449      11.379
Revenue_$1 to $5 million (USD)                       2.0258      4.186      0.484      0.629      -6.186      10.238
Revenue_$10 to $25 million (USD)                     2.6081      2.608      1.000      0.318      -2.509       7.725
Revenue_$10+ billion (USD)                           5.3988      2.578      2.094      0.036       0.340      10.457
Revenue_$100 to $500 million (USD)                   2.8963      1.715      1.689      0.091      -0.467       6.260
Revenue_$2 to $5 billion (USD)                      -0.3399      2.613     -0.130      0.896      -5.465       4.785
Revenue_$25 to $50 million (USD)                     6.8153      2.671      2.551      0.011       1.575      12.056
Revenue_$5 to $10 billion (USD)                      4.9515      3.586      1.381      0.168      -2.084      11.987
Revenue_$5 to $10 million (USD)                      5.7014      4.176      1.365      0.172      -2.492      13.895
Revenue_$50 to $100 million (USD)                    5.0589      2.342      2.160      0.031       0.465       9.653
Revenue_$500 million to $1 billion (USD)            -3.2465      2.387     -1.360      0.174      -7.929       1.436
Revenue_Less than $1 million (USD)                  -1.9466      3.878     -0.502      0.616      -9.554       5.661
Revenue_Unknown / Non-Applicable                     4.6708      1.537      3.040      0.002       1.656       7.685
state_AK                                            -4.5497     20.971     -0.217      0.828     -45.691      36.592
state_AL                                             3.5336      7.483      0.472      0.637     -11.147      18.214
state_AR                                            -9.3134      8.482     -1.098      0.272     -25.955       7.328
state_AZ                                            10.7659      4.050      2.659      0.008       2.821      18.711
state_Arapahoe                                       1.7017     21.075      0.081      0.936     -39.644      43.047
state_CA                                            23.9095      2.119     11.282      0.000      19.752      28.067
state_CO                                             6.6594      4.310      1.545      0.123      -1.796      15.115
state_CT                                            -3.2413      6.410     -0.506      0.613     -15.816       9.333
state_DC                                             9.6917      3.495      2.773      0.006       2.836      16.547
state_DE                                            -0.5252     20.095     -0.026      0.979     -39.947      38.897
state_FL                                             2.0444      3.772      0.542      0.588      -5.355       9.444
state_GA                                            -0.7893      4.155     -0.190      0.849      -8.941       7.362
state_IA                                             5.8410      5.647      1.034      0.301      -5.237      16.919
state_ID                                           -19.4753     10.282     -1.894      0.058     -39.647       0.697
state_IL                                             3.1824      3.173      1.003      0.316      -3.042       9.407
state_IN                                            -7.1410      4.861     -1.469      0.142     -16.676       2.394
state_KS                                            -4.0343      8.582     -0.470      0.638     -20.870      12.801
state_KY                                             0.6883      8.312      0.083      0.934     -15.618      16.995
state_LA                                             5.4247      9.432      0.575      0.565     -13.079      23.929
state_MA                                             8.8217      2.800      3.150      0.002       3.328      14.315
state_MD                                             3.8176      3.120      1.224      0.221      -2.303       9.938
state_ME                                           -15.5366     14.361     -1.082      0.280     -43.710      12.637
state_MI                                             3.7176      4.633      0.802      0.422      -5.372      12.807
state_MN                                            11.6494      5.081      2.293      0.022       1.681      21.617
state_MO                                            -0.5366      3.953     -0.136      0.892      -8.292       7.219
state_MS                                             8.2877     20.166      0.411      0.681     -31.274      47.850
state_NC                                             0.8511      4.343      0.196      0.845      -7.669       9.372
state_NE                                            -2.0512     10.327     -0.199      0.843     -22.310      18.208
state_NH                                            -1.0254     10.273     -0.100      0.921     -21.180      19.129
state_NJ                                             8.5867      3.948      2.175      0.030       0.841      16.332
state_NM                                            -2.7623      7.790     -0.355      0.723     -18.045      12.520
state_NV                                           -10.0960     14.572     -0.693      0.489     -38.684      18.492
state_NY                                            10.6209      2.595      4.093      0.000       5.530      15.711
state_OH                                            -0.5643      4.091     -0.138      0.890      -8.590       7.461
state_OK                                            -4.6242      8.673     -0.533      0.594     -21.638      12.390
state_OR                                             1.7121      6.319      0.271      0.786     -10.685      14.109
state_PA                                             3.2742      3.120      1.049      0.294      -2.847       9.395
state_PR                                           -10.4418     20.160     -0.518      0.605     -49.991      29.108
state_RI                                            -5.4936      8.444     -0.651      0.515     -22.059      11.071
state_SC                                             1.2963      7.726      0.168      0.867     -13.861      16.454
state_TN                                            -2.5093      5.000     -0.502      0.616     -12.319       7.301
state_TX                                             7.9519      2.557      3.109      0.002       2.935      12.969
state_UT                                            -2.8294      5.059     -0.559      0.576     -12.755       7.096
state_VA                                             9.3383      2.576      3.626      0.000       4.285      14.391
state_VT                                           -29.4420     20.074     -1.467      0.143     -68.825       9.941
state_WA                                            16.3544      3.584      4.563      0.000       9.323      23.385
state_WI                                             3.7753      4.317      0.875      0.382      -4.694      12.244
state_WV                                            -4.9885     20.442     -0.244      0.807     -45.092      35.115
state_WY                                             9.4807     24.885      0.381      0.703     -39.339      58.301
title_data analyst                                 -24.0143      1.736    -13.830      0.000     -27.421     -20.608
title_data architect                                18.8563      5.401      3.491      0.000       8.260      29.452
title_data engineer                                  3.8178      2.319      1.647      0.100      -0.731       8.366
title_data scientist                                14.3653      1.920      7.482      0.000      10.599      18.132
title_machine learning engineer                     27.9828      3.969      7.050      0.000      20.196      35.769
==============================================================================
Omnibus:                      480.620   Durbin-Watson:                   2.071
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4071.280
Skew:                           1.349   Prob(JB):                         0.00
Kurtosis:                      10.894   Cond. No.                     2.43e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.43e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [56]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
grid_param = {'n_estimators' : range(200,300,20)}
grid = GridSearchCV(RandomForestRegressor(n_jobs=-1 ,random_state = 0), param_grid = grid_param, scoring = 'neg_mean_absolute_error',  cv =3).fit(X_train , y_train)

In [57]:
print(grid.best_score_,grid.best_estimator_)

-13.997687569444485 RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=280, n_jobs=-1, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [80]:
df_dummy.corr()['avg_salary'].sort_values(ascending =False)[0:40]

avg_salary                                          1.000000
title_data scientist                                0.458742
seniority                                           0.381329
state_CA                                            0.311553
deep_learning                                       0.226122
spark                                               0.222998
phd                                                 0.216100
exp_year                                            0.215850
aws                                                 0.205451
Industry_Internet                                   0.176393
Sector_Information Technology                       0.169561
title_data engineer                                 0.163343
title_machine learning engineer                     0.160460
Rating                                              0.152159
Industry_Biotech & Pharmaceuticals                  0.150314
Sector_Biotech & Pharmaceuticals                    0.150314
title_data architect                                0.146241
FAANG                                               0.107079
Industry_Enterprise Software & Network Solutions    0.101244
state_MA                                            0.100835
Industry_Computer Hardware & Software               0.095966
Industry_Federal Agencies                           0.094290
master                                              0.090204
Sector_Government                                   0.089148
Type of ownership_Company - Public                  0.073024
Revenue_$5 to $10 billion (USD)                     0.065036
state_VA                                            0.059683
state_MD                                            0.056952
Type of ownership_Private Practice / Firm           0.050890
Sector_Finance                                      0.044242
Revenue_Unknown / Non-Applicable                    0.044062
Industry_financial_related                          0.042729
Sector_Retail                                       0.041581
Revenue_$10+ billion (USD)                          0.041081
Size_501 to 1000 Employees                          0.038076
Industry_Video Games                                0.037342
Size_51 to 200 Employees                            0.030001
Sector_Aerospace & Defense                          0.028264
Industry_Aerospace & Defense                        0.028264
state_NJ                                            0.026166
Name: avg_salary, dtype: float64

In [20]:
grid.best_estimator_.score(X_test,y_test)

0.5771392144944245

In [82]:
df[df['Company Name'].duplicated().values == True].sort_values('Company Name')

,Unnamed: 0,Unnamed: 0.1,Job Title,Salary Range,Job Description,Rating,Company Name,Location,Headquarters,Size,...,python,r studio,ML,spark,deep_learning,aws,phd,undergrad,master,exp_year
1093,1484,62,Data Scientist,$89k-$153k,The Data Scientist will be joining a team of e...,4.1,7Park Data,"New York, NY",-1,51 to 200 Employees,...,1,0,1,1,0,0,1,0,1,5.0
892,1250,84,Marketing Data Analyst,$70k-$100k,Were seeking a Marketing Data Analyst with an ...,4.6,Ability Network,"Santa Monica, CA",-1,51 to 200 Employees,...,0,0,0,0,0,1,0,0,0,5.0
1232,1743,111,Data Analyst,$40k-$78k,Company Overview:\nAge of Learning is a leadin...,3.1,Age of Learning,"Glendale, CA",-1,501 to 1000 Employees,...,0,0,1,0,0,0,0,1,0,2.0
763,1087,432,Senior Data Scientist,$110k-$176k,Company Overview:\nAge of Learning is a leadin...,3.2,Age of Learning,"Glendale, CA",-1,501 to 1000 Employees,...,1,0,1,0,0,0,0,1,1,4.0
504,705,88,Data Scientist,$80k-$132k\r,Job Capsule\r\n\r\n\r\nThe Data Scientist anal...,3.4,American Bureau of Shipping\r,"Houston, TX",-1,1001 to 5000 Employees,...,1,0,1,0,1,0,0,0,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,969,271,Lead Data Engineer,$47k-$93k,"Data Analyst\nLocation: Washington, DC\nEducat...",4.0,Zipcar,"Boston, MA",-1,501 to 1000 Employees,...,0,0,0,0,0,0,0,1,1,3.0
1212,1712,151,Lead Data Engineer,$83k-$147k,Lead Data Engineer\n\nAs a data engineer in Zi...,3.2,Zipcar,"Boston, MA",-1,201 to 500 Employees,...,1,0,0,1,0,1,0,1,0,5.0
831,1171,304,Sr Data Science Analyst,$61k-$107k,Job Summary\nThe Sr. Data Science Analyst oper...,3.6,"naviHealth, Inc.","Brentwood, TN",-1,1001 to 5000 Employees,...,1,0,1,1,1,0,0,1,0,3.5
670,964,264,Staff Data Scientist,$123k-$196k,"At realtor.com, we process terabytes of data e...",2.8,realtor.com,"Santa Clara, CA",-1,1001 to 5000 Employees,...,1,0,1,1,0,0,1,0,0,4.0
168,197,273,Staff Data Scientist,$123k-$196k\r,"At realtor.com, we process terabytes of data e...",2.8,realtor.com\r,"Santa Clara, CA",-1,1001 to 5000 Employees,...,1,0,1,1,0,0,1,0,0,4.0

In [104]:
df_final.shape

(718, 21)

In [105]:
df.title.value_counts()

data analyst                 385
data scientist               214
data engineer                 93
machine learning engineer     18
data architect                 8
Name: title, dtype: int64

In [110]:
df.loc[807]

Unnamed: 0                                                        1012
Unnamed: 0.1                                                        63
Job Title                                                Data Engineer
Salary Range                                                $90k-$135k
Job Description      About Us\n\n\nInterested in working for a huma...
Rating                                                             4.7
Company Name                                                  1904labs
Location                                               Saint Louis, MO
Headquarters                                                        -1
Size                                               51 to 200 Employees
Founded                                                              4
Type of ownership                                    Company - Private
Industry                                                   IT Services
Sector                                          Information Technology
Revenue                                       Unknown / Non-Applicable
Competitors                                                         -1
salary_type                                                 (Glassdoor
per_hour                                                             0
Employer_reported                                                    0
avg_salary                                                       112.5
state                                                               MO
desc_length                                                       4238
seniority                                                            0
title                                                    data engineer
python                                                               1
r studio                                                             0
ML                                                                   0
spark                                                                1
deep_learning                                                        0
aws                                                                  1
phd                                                                  0
undergrad                                                            0
master                                                               0
Name: 807, dtype: object